$background-pages-color : #1E1E1E;
$style-page-colors : (
    "yellow" : #FFB703,
    "cyan" : #8ECAE6,
    "blue" : #023047,
    "gray" : #968E8E,
    "yellow85": rgb(255, 183, 3, 0.85)
);

$primary-font-family :  "Jura", sans-serif;
$secondary-font-family: "Beth Ellen", cursive;
