@use "./src/sass/" as *;

.reg-form {
  max-height: 1500px;

  @include flex(column);
  gap: 24px;

  input,
  select {
    height: 38px;
    border-radius: 6px;
    font-family: $primary-font-family;
    font-size: 18px;
    padding: 8px;
    background-color: map-get($style-page-colors, "cyan");

    &::placeholder {
      color: map-get($style-page-colors, "blue");
      opacity: 0.8;
      font-weight: 800;
    }

    &[type="date"] {
      height: 38px;
    }
  }

  .date-input-wrapper {
    position: relative;

    .placeholder-input {
      height: 38px;
      border-radius: 6px;
      font-family: $primary-font-family;
      font-size: 18px;
      padding: 8px;
      background-color: map-get($style-page-colors, "cyan");
      color: map-get($style-page-colors, "blue");
      margin-top: 15px;
      font-weight: 800;
      width: 100%;
    }
    div {
      margin-top: 3px;
    }
    #dob {
      width: 100%;
    }
  }

  &__terms-box {
    display: flex;
    height: 50px;
    background-color: map-get($style-page-colors, "cyan");
    border-radius: 6px;
    padding: 4px;
    @include flex(default, center, center);

    input {
      width: 20px;
    }

    label {
      margin-top: 16px;
      margin-left: 5px;
      color: map-get($style-page-colors, "blue");
    }
  }

  div {
    color: white;
    margin-top: -15px;
  }
}

button {
  width: 200px;
  height: 60px;
  align-self: center;
  font-size: 30px;
  padding: 5px;
  background-color: map-get($style-page-colors, "gray");
  color: map-get($style-page-colors, "blue");
  font-weight: 800;
  border: solid 1px white;
  border-radius: 6px;
  font-family: $primary-font-family;
}

p {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}
