@use "./src/sass/" as *;

.standard-page-container {
  width: 40vw;
  height: 100vh;
  background-color: map-get($style-page-colors, "yellow");
  margin: auto;
  border-radius: 10px;
  @include flex(column, space-between, center);
  box-shadow: 10px 11px 7px 0px rgba(0,0,0,0.75);
}