@use "./src/sass/" as *;
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;

}

body {
  /* width: 100vw;
  height: 100vh; */
  background-image: url(../src/assets/images/TextureBkg2.png);
  opacity: 0.9;
  

}
#root {
  width: 100vw;
  height: 100vh;
  @include flex(default, center, center);


}
